body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 80%);
    padding: 40px;
}
#calculator{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 30%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 10px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(107, 101, 101)
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
    padding: 25px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 50%);
    color: hsl(0, 0%, 92%);
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 0%, 0%);
}
button:active{
    background-color: white;
}
.operator-btn{
    background-color: hsl(60, 50%, 50%)
}